<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring/context-dataaccess.xml" />

    <bean id="localMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="mapper.LocalMapper" />
        <property name="sqlSessionFactory" ref="localSqlSessionFactory" />
    </bean>

    <bean id="remoteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="mapper.RemoteMapper" />
        <property name="sqlSessionFactory" ref="remoteSqlSessionFactory" />
    </bean>

</beans>
